.full-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-conteiner-black {
    color: black;
}
.header-conteiner-white {
    color: #eee;
}
.secondline-conteiner {
    align-items: center;
    display: flex;
}
.icon {
    padding: 15px;
    cursor: pointer
}
.icon:hover {
    margin-bottom: 30px;
}

.text {
    font-size: 128px;
    font-weight: 700;
}
.first {
    margin-top: 300px;
    height: 5px;
}